@import "../../style/shared";

.gallery-item {
  flex: 1 1 auto;
  width: 10%;
  max-width: 10%;
  margin-bottom: 0px;
  background-color: $color-border;
  border: 1px solid white;
  transition: all 0.25s ease-in-out;

  &:hover {
    cursor: pointer;
    .icon-container {
      background-color: $color-hover;
      img {
        transform: scale(1.1);
      }
    }
  }

  &.is-selected {
    .icon-container {
      border: 4px solid $color-selected;
    }
  }

  &.show-icon {
    background-color: transparent;
    border: none;
    .icon-container {
      opacity: 1;
    }
    .icon-name {
      opacity: 1;
    }
  }

  .icon-container {
    background-color: $color-background;
    border: 4px solid white;
    padding-top: 100%;
    opacity: 0;
    position: relative;
    transition: all 0.25s ease-in-out;

    img {
      width: 60%;
      height: 60%;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: transform 0.15s ease-in-out;
    }
  }

  .icon-name {
    width: 100%;
    font-size: 0.75rem;
    color: $color-secondary;
    display: block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: $layout-spacing / 4;
    opacity: 0;
  }
}
