.tags-control {
  width: 100%;
  background-color: white;
  min-height: 5rem;
  padding: 0.25rem;

  .add-tag-btn {
    display: inline-block;
    margin-top: 0.25rem;
    padding: 0 0.25rem;
    font-size: 0.85rem;
    color: #909090;

    &:hover {
      color: currentColor;
      cursor: pointer;
    }
  }
}
