// Shared.scss
//
// Colors
$color-font: #333;
$color-primary: #848484;
$color-secondary: #c4c4c4;
$color-background: #f7f7f7;
$color-border: #efefef;
$color-hover: #dfdfdf;
$color-selected: #75caff;
//
// Layout
$layout-spacing: 1rem;
