// Shared.scss
//
// Colors
$color-font: #333;
$color-primary: #848484;
$color-secondary: #c4c4c4;
$color-background: #f7f7f7;
$color-border: #efefef;
$color-hover: #dfdfdf;
$color-selected: #75caff;

//
// Layout
$layout-spacing: 1rem;
//
// Components
button {
  border: none;
  outline: none;
  width: 100%;
  max-width: 250px;
  padding: $layout-spacing / 2 $layout-spacing;
  background-color: $color-hover;
  border-radius: $layout-spacing;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $color-secondary;
    cursor: pointer;
    color: $color-font;
  }

  &.is-copied {
    background-color: $color-selected;
  }
}
