.prd-gallery {
  flex: 1 1 65%;
  background-color: lightgreen;
  overflow: hidden;

  .gallery-scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .icons-grid {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;

      .gallery-item {
        width: 50px;
        height: 50px;

        img {
          width: 36px;
        }
      }
    }
  }
}
