.prd-dir-tree {
  flex: 1 1 15%;
  //max-width: 20rem;
  min-width: 10vw;
  background-color: yellow;
  overflow: hidden;

  .categories-list {
    width: 100%;

    .category-item {
      width: 100%;

      &.is-selected {
        background-color: lightblue;
      }
    }
  }
}
